<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permiso de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Para Android < 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Para Android 13+ (si quieres soportar de forma específica) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Indica que la cámara NO es obligatoria (evita que Play Store filtre dispositivos sin cámara) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsAppCLone">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
